<% if current_user %>
<p> 
	You are currently logged in as <b><%= current_user.name %></b>. 
	<%= link_to "Logout", logout_path %>
</p>
<% end %>

<br/>
<%= form_for Tweet.new do |f| %>
	<%= f.text_area :message %>
	<%= f.submit "Post" %>
<% end %>

<%= @user.name %>'s tweets <br/>
<% @user.tweets.each do |tweet| %>
	<%= tweet %>
<% end %>
