<% if current_user %>
<p> 
	You are currently logged in as <b><%= current_user.name %></b>. 
	<%= link_to "Logout", logout_path %>
</p>
<% end %>

<br/>
<% if current_user && current_user.name == @user.name%>
	<%= form_for([@user, Tweet.new], :url => users_tweets_path) do |f| %>
		<%= f.text_area :message %>
		<%= f.submit "Post" %>
	<% end %>
<% end %>

<%= @user.name %>'s tweets <br/>
<% @user.tweets.each do |tweet| %>
	<br> <%= tweet.message %> <br/>
<% end %>
